@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #EEEEEE;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #2d2d2d;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #49D9A0;
}

.mat-drawer-container {
  background-color: transparent !important;
}

.mat-drawer {
  background-color: #1a1a2e !important;
}
