@import "tailwindcss";

:root {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background-color: #f8f9fa;
}

#app {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
