::ng-deep nz-card {
  border-radius: 16px !important;
}

::ng-deep .ant-card-body {
  padding: 32px !important;
}

::ng-deep .ant-radio-wrapper {
  width: 100%;
}

::ng-deep .ant-radio-wrapper span:last-child {
  padding-inline-start: 8px;
  padding-inline-end: 8px;
}

::ng-deep nz-radio-group {
  width: 100%;
}
