<mat-toolbar color="primary" class="navbar">
  <span class="logo" routerLink="/courses">
    <mat-icon>school</mat-icon>
    <span class="title">在线学习平台</span>
  </span>
  
  <span class="spacer"></span>
  
  <nav class="nav-links">
    <button mat-button routerLink="/courses" routerLinkActive="active">
      <mat-icon>menu_book</mat-icon>
      <span>课程</span>
    </button>
    <button mat-button routerLink="/profile" routerLinkActive="active">
      <mat-icon>person</mat-icon>
      <span>我的</span>
    </button>
  </nav>
</mat-toolbar>
