@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', Roboto, "Helvetica Neue", sans-serif;
  background-color: #f8fafc;
}

.mat-mdc-raised-button {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.mat-mdc-button {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
