@import "tailwindcss";
@import "@angular/material/prebuilt-themes/azure-blue.css";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.mat-mdc-form-field {
  width: 100%;
}

.active {
  background-color: rgba(255, 255, 255, 0.15) !important;
}
