<div 
  (click)="onClick()"
  [ngClass]="getCardClasses()"
>
  <div class="p-4">
    <div class="flex justify-between items-start">
      <div class="flex-1 pr-4">
        <h3 [ngClass]="getTitleClasses()">
          {{ alert.title }}
        </h3>
        
        <p class="text-xs text-gray-500 mb-2">
          {{ alert.context }}
        </p>
        
        <p class="text-sm text-gray-600 leading-5">
          {{ alert.details }}
        </p>
      </div>
      
      <div class="text-xs text-gray-400 whitespace-nowrap">
        {{ formattedTime }}
      </div>
    </div>
    
    <div 
      *ngIf="!alert.isRead"
      [ngClass]="getDotClasses()"
    ></div>
  </div>
</div>
