:host {
  display: block;
}

.no-hover:hover {
  transform: none !important;
  box-shadow: none !important;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

input:focus {
  outline: none;
}
