mat-card {
  border-radius: 12px;
}

::ng-deep .mat-mdc-card {
  border-radius: 12px !important;
}

mat-form-field {
  width: 100%;
}

button[mat-raised-button], button[mat-button] {
  border-radius: 8px;
}

textarea {
  resize: vertical;
  min-height: 60px;
}
