@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.scroll-animate {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-out;
}

.scroll-animate.visible {
  opacity: 1;
  transform: translateY(0);
}

.scroll-animate-delay-100 {
  transition-delay: 0.1s;
}

.scroll-animate-delay-200 {
  transition-delay: 0.2s;
}

.scroll-animate-delay-300 {
  transition-delay: 0.3s;
}
